@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap&subset=latin');

:root {
	--mainColor: #383DB7;
	--addColor: #6E63F6;
	--grey: #F2F2F2;
	--greyText: #444;
}

.body {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: initial;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.footer {
		margin-top: auto;
	}
}

.mainHeading {
	font-size: 2.25rem;
	text-transform: uppercase;

	@media (min-width: 768px) {
		font-size: 3.75rem;
		margin-bottom: 1.25rem;
	}
}

.link {
	text-decoration: none;
}

.button {
	width: 100%;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;;
	font-size: .9rem;
	background-color: var(--mainColor);
	color: #fff;
	border: none;
	padding: .6rem 2rem;
	cursor: pointer;

	&:hover {
		background-color: var(--addColor);
	}

	@media (min-width: 768px) {
		font-size: 1.25rem;
		padding: .75rem 4rem;
	}
}

.wrapper {
	box-sizing: border-box;
	width: auto;

	@media (min-width: 768px) {
		width: 700px;
		margin: auto;
	}

	@media (min-width: 1200px) {
		width: 1200px;
	}
}