/* Layouts */
.header {
	background-color: #fff;
	padding: 1rem 1.25rem;
	position: sticky;
	top: 0;
	z-index: 999;
	box-shadow: 0 0 5px -3px #000;

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-sizing: border-box;
	}

	.logoImg {
		width: 2.5rem;
		height: 2.5rem;
	}

	.logoName {
		font-size: 2rem;
		color: var(--mainColor);
		text-transform: uppercase;
		line-height: 2rem;
	}

	.hamburger {
		cursor: pointer;
		padding: .5rem 0;

		.hamburgerLine {
			display: block;
			width: 1.5rem;
			height: .1rem;
			position: relative;
			background-color: #000;

			&::before, &::after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: #000;
				transition: .2s;
			}

			&::before {
				top: .5rem;
			}

			&::after {
				top: -.5rem;
			}
		}
	}

	.menuButtonHidden {
		display: none;

		&:checked ~ .nav {
			opacity: 1;
			padding: 1.25rem;
			height: auto;
		}

		&:checked ~ .hamburger .hamburgerLine {
			background-color: transparent;
		}

		&:checked ~ .hamburger .hamburgerLine::before {
			transform: rotate(-45deg);
			top: 0;
		}

		&:checked ~ .hamburger .hamburgerLine::after {
			transform: rotate(45deg);
			top: 0;
		}
	}

	.buttonHeader {
		background: none;
		border: none;
		font-size: 2rem;
		line-height: 2rem;
	}

	@media (min-width: 768px) {
		padding: 2.25rem 0;
		position: static;
		box-shadow: none;

		.wrapper {
			padding: 0 2.25rem;
		}

		.logoImg {
			width: 3rem;
			height: 3rem;
		}

		.logoName {
			font-size: 2.5rem;
			line-height: 2.5rem;
			margin-right: 6.25rem;
		}

		.hamburger {
			display: none;
		}
	}

	@media (min-width: 1200px) {
		background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(56,61,183,1) 50%, rgba(56,61,183,1) 100%);
		padding-top: 3rem;
		padding-bottom: 3rem;

		.wrapper {
			padding: 0 1.25rem;
			justify-content: flex-start;
		}

		.logoImg {
			width: 3.75rem;
			height: 3.75rem;
		}

		.logoName {
			font-size: 3.75rem;
			line-height: 3.75rem;
			margin-right: 32rem;
		}
	}
}

.nav {
	position: absolute;
	top: 100%;
	left: 0;
	width: calc(100% - 2.5rem);
	height: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	transition: .5s;
	background-color: var(--mainColor);
	box-shadow: 0 0 5px -3px #000;
	z-index: 998;

	.navList {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		.navItem {
			font-size: 1.5rem;
			padding: .5rem 0;
			border-bottom: .15rem solid transparent;

			&.active, &:hover {
				border-bottom: .15rem solid #fff;
			}

			.navLink {
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}

	@media (min-width: 768px) {
		position: static;
		background-color: #fff;
		height: auto;
		padding: 0;
		opacity: 1;
		box-shadow: none;

		.navList {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			.navItem {
				padding: 0 1rem .5rem;
				font-size: 1.125rem;

				&.active, &:hover {
					border-color: var(--mainColor);
				}

				.navLink {
					color: initial;
				}
			}
		}
	}

	@media (min-width: 1200px) {
		background-color: transparent;
		flex: 0 0 40%;

		.navList {
			.navItem {
				font-size: 1.25rem;

				&.active, &:hover {
					border-color: #fff;
				}

				.navLink {
					color: #fff;
				}
			}
		}
	}
}