/* Layouts */
.banner {
	height: 55vh;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(56,61,183,1) 40%, rgba(56,61,183,1) 100%);
	padding: 2.5rem 1.25rem 0;
	margin-bottom: 1.25rem;
	color: #fff;
	position: relative;
	text-align: center;

	.wrapper {
		height: 100%;
		position: relative;
		z-index: 2;

		&::before {
			content: '';
			background-image: url(../../images/banner.png);
			background-size: contain;
			display: block;
			width: 15.625rem;
			height: 15.625rem;
			position: absolute;
			top: calc(53% - 15.625rem / 2);
			left: calc(50% - 15.625rem / 2);
			z-index: -1;
		}
	}

	.bannerInfo {
		font-size: .9rem;
		text-transform: uppercase;
		display: block;
		margin-top: .75rem;
	}

	.bannerButton {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}

	@media (min-width: 768px) {
		height: 47rem;
		background: transparent;
		color: initial;
		text-align: left;

		.wrapper {
			padding-left: 5.5rem;

			&::before {
				width: 32rem;
				height: 32rem;
				top: auto;
				left: auto;
				bottom: 3rem;
				right: .5rem;
			}
		}

		.bannerInfo {
			font-size: 1.25rem;
			margin-left: .5rem;
		}

		.bannerButton {
			position: static;
			width: auto;
			margin-top: 5.75rem;
		}
	}

	@media (min-width: 1200px) {
		height: 30rem;
		padding-top: 4.5rem;
		background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(56,61,183,1) 50%, rgba(56,61,183,1) 100%);;
		
		.wrapper {
			padding-left: 4.5rem;

			.bannerInfo {
				margin-left: 0;
			}

			&::before {
				bottom: -.5rem;
				right: 15.5rem;
			}
		}
	}
}

.articles {
	margin-top: 1.25rem;
	margin-bottom: 2rem;
	padding: 0 1.25rem;

	@media (min-width: 768px) {
		margin-bottom: 2.5rem;
		padding: 0;
	}

	@media (min-width: 1200px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5rem;
		margin-top: 5rem;
		margin-bottom: 4.5rem;
	}

	.article {
		display: grid;
		grid-gap: 1.25rem;
		grid-template-areas: 'img header header .'
												 'text text text text'
												 'text text text text'
												 'hr hr hr hr'
												 'link link link link';
		background-color: var(--grey);
		margin-bottom: 1.25rem;
		padding: 1.25rem;
	
		.articleImgWrapper {
			grid-area: img;
			background-color: var(--addColor);
			border-radius: 50%;
			margin-bottom: 0;
			padding: .25rem;

			.articleImg {
				width: 2.625rem;
				height: 2.625rem;
			}
		}
	
		.articleHeading {
			grid-area: header;
			font-size: 1.5rem;
			text-transform: uppercase;
			margin: auto;
		}
	
		.articleText {
			grid-area: text;
			font-family: Arial, sans-serif;
			font-size: .9rem;
			line-height: 1.125rem;
			text-transform: uppercase;
			word-break: break-word;
			color: var(--greyText);
			margin: 0;
			padding-right: 1rem;
		}
	
		.articleDevider {
			grid-area: hr;
			border-color: #D9D9D9;
			margin: 0;
		}
	
		.articleLink {
			grid-area: link;
			color: initial;
			text-decoration: none;
			text-transform: uppercase;
			transition: .5s;
	
			&:hover {
				color: var(--addColor);
			}
	
			&::after {
				content: '';
				background-image: url(../../images/arrow.png);
				display: inline-block;
				width: 1.5rem;
				height: .75rem;
				margin-left: 1rem;
				transition: .5s;
			}
	
			&:hover::after {
				margin-left: 2rem;
			}
		}
	
		@media (min-width:768px) {
			grid-gap: 1.5rem;
			grid-template-areas: 'header . img'
													 'text text img'
													 'text text img'
													 'link link img';
			
			padding: 3.125rem;
			margin-bottom: 2rem;
	
			.articleImgWrapper {
				padding: 2.1875rem;
				margin: auto;

				.articleImg {
					width: 8.125rem;
					height: 8.125rem;
				}
			}
	
			.articleHeading {
				font-size: 2.25rem;
			}
	
			.articleText {
				font-size: 1rem;
				line-height: 1.5rem;
				padding: 0;
			}
	
			.articleDevider {
				display: none;
			}
	
			.articleLink {
				font-size: 1.25rem;
				margin-top: 1rem;
			}
		}
	
		@media (min-width: 1200px) {
			grid-template-areas: 'img header header .'
													 'text text text text'
													 'text text text text'
													 'link link link link';
			margin: 0;
	
			.articleImgWrapper {
				padding: .875rem;

				.articleImg {
					width: 4.5rem;
					height: 4.5rem;
				}
			}
	
			.articleLink {
				margin: 0;
			}
		}
	}
}

.advantages {
	margin-top: 1.25rem;
	margin-bottom: 2.5rem;
	padding: 0 1.25rem;

	.advantagesHeading {
		font-size: 2.25rem;
		text-transform: uppercase;
		margin-left: 1.25rem;
		margin-bottom: 2rem;
	}

	@media (min-width: 768px) {
		padding: 0;
		margin-bottom: 2.75rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr 1fr;
		grid-gap: 4.75rem;
		counter-reset: counter;

		.advantagesHeading {
			font-size: 3.75rem;
			margin: 0;
			grid-column: 1/3;
		}
	}

	@media (min-width: 1200px) {
		margin-bottom: 6.5rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto 1fr;
		grid-gap: 4.5rem;

		.advantagesHeading {
			grid-column: 1/5;
		}
	}

	.advantage {
		display: flex;
		margin-bottom: 1.25rem;
	
		.advantageImgWrapper {
			flex: 0 0 auto;
			background-color: var(--addColor);
			margin-right: 1.25rem;
			margin-bottom: 0;
			padding: 0.9375rem;

			.advantageImg {
				width: 1.875rem;
				height: 1.875rem;
			}
		}
	
		.advantageText {
			font-family: Arial, sans-serif;
			font-size: .9rem;
			line-height: 1.125rem;
			margin: 0;
		}
	
		@media (min-width: 768px) {
			flex-direction: column;
			margin-bottom: 0;
			padding-bottom: 3rem;
			counter-increment: counter;
			position: relative;
	
			.advantageImgWrapper {
				flex: 0 0 auto;
				width: 2.5rem;
				padding: 1.25rem;
				margin-bottom: 4rem;

				.advantageImg {
					width: 2.5rem;
					height: 2.5rem;
				}
			}
	
			.advantageText {
				padding-right: 8rem;
			}
	
			&::after {
				content: counter(counter);
				position: absolute;
				top: 0;
				right: 5rem;
				font-size: 17.5rem;
				line-height: 75%;
				color: var(--grey);
				z-index: -1;
				display: block;
				width: 7.5rem;
				text-align: center;
			}
		}
	
		@media (min-width: 1200px) {
			.advantageImgWrapper {
				margin-bottom: 2rem;
			}
	
			.advantageText {
				line-height: 1.5rem;
				padding-right: 5rem;
			}
	
			&::after {
				right: 1rem;
			}
		}
	}
}