@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
	--mainColor: #383DB7;
	--addColor: #6E63F6;
	--grey: #F2F2F2;
	--greyText: #444;
}

* {
	margin: 0;
	padding: 0;
	transition: .5s;
}

/* Base */
html, body {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: initial;
	min-height: 100vh;
}

h1 {
	font-size: 2.25rem;
	text-transform: uppercase;

	@media (min-width: 768px) {
		font-size: 3.75rem;
		margin-bottom: 1.25rem;
	}
}

button:not(#l-header button) {
	width: 100%;
	text-transform: uppercase;
	font-size: .9rem;
	background-color: var(--mainColor);
	color: var(--bs-white);
	border: none;
	padding: .6rem 2rem;

	&:hover {
		background-color: var(--addColor);
	}

	@media (min-width: 768px) {
		font-size: 1.25rem;
		padding: .75rem 4rem;
	}
}

/* Layouts */
#root {
	height: 100vh;
	display: flex;
	flex-direction: column;

	#l-footer {
		margin-top: auto;
	}
}