@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
	--mainColor: #383DB7;
}

* {
	margin: 0;
	padding: 0;
	transition: .5s;
}

/* Base */
html, body {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: initial;
}

h1 {
	font-size: 2.25rem;
	text-transform: uppercase;
}

button:not(#header button) {
	width: 100%;
	text-transform: uppercase;
	font-size: .9rem;
	background-color: var(--mainColor);
	color: var(--bs-white);
	border: none;
}